
<div class="gallery">


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/photo/galery6.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/photo/galery8.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../assets/photo/galery7.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
<div class="photos">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/photo/galery1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/photo/galery2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/photo/galery3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/photo/galery4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
</div>



