.gallery{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 500px;
  height: 500px;;
  margin-left: auto;
  margin-right: auto;
}

.photos{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  clear: both;
}

.gallery{
  background-color: #FFFFF0;
}

