<nav class="navbar navbar-expand-lg navbar-light shadow-none">
  <div class="container">
    <a class="navbar-brand me-2">
      <img
        src="../assets/shelter_logo.png"
        height="100"
        alt=""
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dogs">DOGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cats">CATS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/animals">ANIMALS</a>
        </li>

      </ul>
      <div class="d-flex align-items-center">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/gallery">GALLERY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/volunteering">VOLUNTEERING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="signOut" routerLink="" (click)="signOut()" *ngIf="isAuthenticated">SIGN OUT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="text-center ">
  <div class="container p-4">
    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i></a>
    </section>
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
        distinctio earum repellat quaerat voluptatibus placeat nam,
        commodi optio pariatur est quia magnam eum harum corrupti dicta,
        aliquam sequi voluptate quas.
      </p>
    </section>
  </div>
</footer>
