<!-- <div class="p-3"></div>

<div class="container" infinite-scroll (scrolled)="onScrollDown($event)">
  <div class="columns-2 md:columns-3 lg:columns-4">
    <div *ngFor="let dogss of dogs">
      <div *ngFor="let dog of dogss" class="img-overlay">
        <img id="dogImage" class="mb-4" src="{{ dog.images[0] }}"/>
        <div class="overlay" [routerLink]="['/dog', dog.id]">
          <div class="text">{{ dog.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3"></div>

<div id="thatsAllContainer" class="container" [hidden]="isItAll">
  <i class="fa-solid fa-paw fa-lg px-2"></i><p id="thatsAll">That's all</p><i class="fa-solid fa-paw fa-lg px-2"></i>
</div>

<div class="p-3"></div> -->
<div class="cardContent">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/sliniak.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Śliniak</h5>
        <p class="card-text">pies rasy Dogue de Bordeaux</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/reksio.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reksio</h5>
        <p class="card-text">Pies rasy Jack Russell terrier.</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/scoob.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Scooby</h5>
        <p class="card-text">Scooby to dog niemiecki, czyli największy pies świata. W prawdziwym życiu psy tej rasy wcale nie są tchórzliwe – wręcz przeciwnie</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/hachiko.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Hachiko</h5>
        <p class="card-text">Pies rasy akita. Współcześnie pełni funkcje psa stróżująco-obronnego oraz psa do towarzystwa.</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/photo/szarik.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Szarik</h5>
          <p class="card-text">Owczarek niemiecki</p>
          <a href="#" class="btn btn-primary">Zobacz więcej</a>
        </div>
      </div>
    </div>

</div>

