<!-- <div class="p-3"></div>

<div class="container" infinite-scroll (scrolled)="onScrollDown($event)">
  <div class="columns-2 md:columns-3 lg:columns-4">
    <div *ngFor="let animalss of animals">
      <div *ngFor="let animal of animalss" class="img-overlay">
        <img id="catImage" class="mb-4" src="{{ animal.images[0] }}"/>
        <div class="overlay" [routerLink]="['/animal', animal.id]">
          <div class="text">{{ animal.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3"></div>

<div id="thatsAllContainer" class="container" [hidden]="isItAll">
  <i class="fa-solid fa-paw fa-lg px-2"></i><p id="thatsAll">That's all</p><i class="fa-solid fa-paw fa-lg px-2"></i>
</div>

<div class="p-3"></div> -->

<div class="cardContent">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/baloo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Baloo</h5>
        <p class="card-text">Niedźwiedź. Mądry, rozsądny, doświadczony, ze względu na swój wiek powolny</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/dumbo.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Słóń Dumbo</h5>
        <p class="card-text">Co on tu robi? Nie wiem</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/Mort.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mortdecai</h5>
        <p class="card-text">Lemurek myszaty</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/kuc.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Kuc</h5>
        <p class="card-text">ZAUSZ COŚ INEGO. ŁACHMANY TO MÓJ STYL.</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/photo/zajec.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zajac</h5>
          <p class="card-text">Jeździ na łyżwach, śpiewa piosenki i występuje na scenie. Czasami zdarza mu się ratować Wilka z problemów.</p>
          <a href="#" class="btn btn-primary">Zobacz więcej</a>
        </div>
      </div>
    </div>
</div>
