<!-- <div class="p-3"></div>

<div class="container" infinite-scroll (scrolled)="onScrollDown($event)">
  <div class="columns-2 md:columns-3 lg:columns-4">
    <div *ngFor="let catss of cats">
      <div *ngFor="let cat of catss" class="img-overlay">
        <img id="catImage" class="mb-4" src="{{ cat.images[0] }}"/>
        <div class="overlay" [routerLink]="['/cat', cat.id]">
          <div class="text">{{ cat.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-3"></div>

<div id="thatsAllContainer" class="container" [hidden]="isItAll">
  <i class="fa-solid fa-paw fa-lg px-2"></i><p id="thatsAll">That's all</p><i class="fa-solid fa-paw fa-lg px-2"></i>
</div>

<div class="p-3"></div> -->

<div class="cardContent">
  <div class="row">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/7_zyczen.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rademenes</h5>
        <p class="card-text">Czarno futrzasty kot, przyjazny dla dzieci. Nie lubi zabawy, ale może spełniać życzenia.</p>
        <a href="#" class="btn btn-outline-primary btn-rounded">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/filemon.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Filemon</h5>
        <p class="card-text">Mały Filemon lubi zabawe, </p>
        <button href="#" class="btn btn-outline-dark btn-rounded">Zobacz więcej</button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/kot_sadeg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Bury</h5>
        <p class="card-text">Bury lubi sobie pojeść a później bawić się w chowanego.</p>
        <a href="#" class="btn btn-outline-primary btn-rounded">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../assets/photo/kotek_inny.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Maurycy</h5>
        <p class="card-text">Widać że jest już zmęczony</p>
        <a href="#" class="btn btn-outline-primary btn-rounded">Zobacz więcej</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../assets/photo/tak_to_kot.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kondi</h5>
          <p class="card-text">Nie bede komentował tego zdjęcia</p>
          <a href="#" class="btn btn-outline-primary btn-rounded">Zobacz więcej</a>
        </div>
      </div>
    </div>
</div>
