<div class="p-3"></div>
<section id="section_1">
  <div class="container">
    <div id="dogHomeRow" class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h1 class="display-4">Przygarnij psa, którego pokochasz</h1>
        <p class="pJustify">
          Pieski, czyli najlepsi przyjaciele człowieka. Te małe zwierzęta niestety zostały bez domu, ale na szczęście trafiły do naszego schroniska. Przejrzyj naszym małych lokatorów. Może któryś będzie mógł znaleźć schronienie właśnie u ciebie!
        </p>
        <button
          type="button"
          class="btn btn-outline-primary btn-rounded"
          data-mdb-ripple-color="dark"
          routerLink="/dogs"
        >
          Zobacz pieski
        </button>
      </div>
      <div class="col-md-6 text-center">
        <img
          id="dogHome"
          class="img-fluid"
          src="../../assets/home/dog_blob.png"
        />
      </div>
    </div>
  </div>
</section>

<div class="p-5"></div>

<section id="section_2">
  <div class="container d-flex justify-content-center">
    <div id="animalsRow" class="row text-center">
      <div class="col-md-4">
        <i class="fa-solid fa-cat"></i>
        <div class="p-2"></div>
        <a class="hover-underline-animation" [routerLink]="['/cats']">CATS</a>
        <div class="p-2"></div>
      </div>
      <div class="col-md-4">
        <i class="fa-solid fa-dog"></i>
        <div class="p-2"></div>
        <a class="hover-underline-animation" [routerLink]="['/dogs']">DOGS</a>
        <div class="p-2"></div>
      </div>
      <div class="col-md-4">
        <i class="fa-solid fa-dove"></i>
        <div class="p-2"></div>
        <a class="hover-underline-animation" [routerLink]="['/animals']">ANIMALS</a>
        <div class="p-2"></div>
      </div>
    </div>
  </div>
</section>

<div class="p-5"></div>

<section id="section_3">
  <div class="container">
    <div id="dogHomeRow" class="row d-flex justify-content-center">
      <div class="col-md-6 text-center p-2">
        <img
          id="catHome"
          class="img-fluid"
          src="../../assets/home/cat_blob.png"
        />
      </div>
      <div class="col-md-6">
        <h1 class="display-4">Przygarnij kota</h1>
        <p class="pJustify">
          Równie przydatne zwierzęta, może nie tak słodkie, jak pieski, ale za to jeśli masz za dużo wazonów w domu, może spodoba ci się adopcja jednego z naszych kotów!
        </p>
        <button
          type="button"
          class="btn btn-outline-primary btn-rounded"
          data-mdb-ripple-color="dark"
          routerLink="/cats"
        >
          Zobacz kotki
        </button>
      </div>
    </div>
  </div>
</section>

<div class="p-3"></div>

<section id="section_4">
  <div class="container">
    <div id="dogHomeRow" class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h1 class="display-4">Zobacz resztę zwierzęta </h1>
        <p class="pJustify">
          Zobacz resztę naszych zwierząt, które szukają domu!
        </p>
        <button
          type="button"
          class="btn btn-outline-primary btn-rounded"
          data-mdb-ripple-color="dark"
          routerLink="/animals"
        >
          Zobacz inne zwierzęta
        </button>
      </div>
      <div class="col-md-6 text-center p-2">
        <img
          id="dog2Home"
          class="img-fluid"
          src="../../assets/home/dog_2_blob.png"
        />
      </div>
    </div>
  </div>
</section>

<div class="p-3"></div>


