
<div class="container text-center">
  <div class="row">
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h2>Dane teleadresowe</h2></li>
        <li class="list-group-item">Schronisko dla zwierząt</li>
        <li class="list-group-item">+48 123 123 123</li>
        <li class="list-group-item">kontakty@Schronisko.com</li>
      </ul>

    </div>
    <div class="col">
      <div class="form">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nazwa</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Podaj swoją nazwe">
          <label for="exampleFormControlInput1" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Adres E-mail">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Treść wiadomości</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

        </div>
        <button type="button" class="btn btn-dark">Send</button>
      </div>

    </div>
  </div>
  <div class="row">
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d662.5030700387235!2d16.189443729274902!3d54.198565998760415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc17e9756ea8871ea!2zNTTCsDExJzU0LjgiTiAxNsKwMTEnMjQuMCJF!5e1!3m2!1spl!2spl!4v1673751560306!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

      </div>
  </div>

</div>


